<div class="bg-green3 border-green3 border-2 rounded-md p-2
            flex flex-row justify-end
            gap-4 shadow-sm shadow-black">

    <button (click)="goToProfile()"
    class="hover:text-green2 md:text-xl">
        Profile
    </button>
    <button (click)="goToHousing()" class="hover:text-green2 md:text-xl">
        Housing
    </button>
    <button (click)="home()" class="hover:text-green2 md:text-xl">
        Home
    </button>
    <button (click)="logout()" class="hover:text-green2 md:text-xl">
        Logout
    </button>
</div>  
