<div class="bg-green3 border-green3 border-2 rounded-md p-2
            flex flex-row justify-end
            gap-4 shadow-sm shadow-black">



    <button (click)="goToChat()" class="hover:text-green2 md:text-xl">Chat</button>
    <details class="dropdown">
        <summary class="hover:text-green2 md:text-xl">Social</summary>
        <ul class="menu absolute dropdown-content bg-green3 rounded-box z-10 w-52 p-2 shadow rounded-md">
            <li (click)="goToProfile()" class="p-2 m-2">
                <button class="hover:text-green2">Profile</button>
            </li>
            <li class="p-2 m-2">
                <button class="hover:text-green2">Compatible people</button>
            </li>
        </ul>
    </details>
    <!--dropdown house admin-->
    <details class="dropdown">
        <summary  class="hover:text-green2 md:text-xl">Housing</summary>
        <ul class="menu absolute dropdown-content bg-green3 rounded-box z-10 w-52 p-2 shadow rounded-md">
          <li class="p-2 m-2"><button (click)="goToHousing()" class="hover:text-green2">Search for a house</button></li>
          <li class="p-2 m-2"><button (click)="goToOwnerHouseList()" class="hover:text-green2">Owner house List</button></li>
<!--only show when registered as propietario-->
          <li class="p-2 m-2"><button (click)="goToPostHouse()" class="hover:text-green2">Post a house</button></li>
        </ul>
    </details>
    <button (click)="home()" class="hover:text-green2 md:text-xl">
        Home
    </button>
    <button (click)="logout()" class="hover:text-green2 md:text-xl">
        Logout
    </button>
       
</div>  
