<div class="slider-thumb"></div>
<div class="absolute w-full flex justify-center align-middle z-10">
    <div class="mt-28 relative w-full p-2 bg-green3  text-green3 rounded-md md:w-1/2">
        <form [formGroup]="loginForm" (ngSubmit)="enviar($event)" class="m-4 text-center">
            <div class="m-4">
                <input formControlName="username" class="rounded-md text-center" placeholder="username" type="text"/>
            </div>
            <div class="m-4">
                <input formControlName="password" class="rounded-md text-center" placeholder="password" type="password"/>
            </div>
            <div></div>
            <div class="grid grid-cols-2 gap-4">
                <button class="bg-magenta1 text-green1 
                rounded-md border-magenta1 border-2 
                hover:text-green3 hover:bg-magenta2 duration-150
                text-xl shadow-md shadow-brown" (click)="goToRegister()" >Go to Register</button>
                <button type="submit" class="bg-magenta1 text-green1 
                rounded-md border-magenta1 border-2 
                hover:text-green3 hover:bg-magenta2 duration-150
                text-xl shadow-md shadow-brown"> Login</button>
            </div>
            <div>
                <button (click)="goToRequestPassword()" class="text-center text-magenta2 text-base">
                    ¿Need a new password?
                </button>
            </div>
        </form>
    </div>  
</div>