<div class="absolute w-full">
    <div class="relative w-full p-2 bg-green3 text-green1 rounded-md">
        <app-nav-bar/>
    <div class="flex flex-col justify-center text-center gap-4">
        <h1 class="text-xl text-center">{{this.house.name}}</h1>
        <p>{{this.house.desc}}</p>
        <div class="flex flex-col justify-center">
            <h2>Are you sure of deleting this house?</h2>
            <button *ngIf="this.house.id" (click)="deleteHouse(this.house.id)">Delete</button>
        </div>
    </div>
    <app-footer/>
    </div>
</div>