<div class="absolute w-full">
    <div class="relative w-full p-2 bg-green3 text-green1 rounded-md">
      <app-nav-bar/>
    
    <div class="chat-container flex flex-col content-center items-center justify-center">
      <!-- Contenedor de mensajes con scroll -->
      <div class="mt-4 w-11/12 messages-container bg-green2 rounded-md border-green3 flex flex-col overflow-auto shadow-md shadow-green4">
        <div *ngFor="let message of messages" 
            [ngClass]="{'sent': message.sender === userId, 'received': message.sender !== userId}"
            class="message border-2 rounded-md m-2 p-2 border-green2 bg-green3 shadow-sm">
          <div *ngIf="message.sender === userId">
            <p class="text-right">
              {{ message.message }}  
              <span class="bg-magenta1 text-green1 rounded-md border-magenta1 border-2 text-xl shadow-md shadow-brown m-2">You</span>
            </p>
          </div>
          <div *ngIf="message.sender !== userId">
            <p class="text-left">
              <span class="bg-magenta1 text-green1 rounded-md border-magenta1 border-2 text-xl shadow-md shadow-brown m-2">{{message.sender_username}}</span>
              {{ message.message }}
            </p>
          </div>
        </div>
        <div #scrollAnchor></div>
      </div>

      <!-- Input de mensaje -->
      <div class="message-input grid grid-cols-5 items-center justify-center m-2 p-2 gap-2 text-green3">
        <input type="text" [(ngModel)]="newMessage" 
              class="col-span-3 text-center rounded-md h-12" 
              placeholder="Escribe un mensaje..." 
        />
        <button (click)="sendMessage()" 
                class="col-span-2 bg-magenta1 text-green1 
                        rounded-md border-magenta1 border-2 
                        hover:text-green3 hover:bg-magenta2 duration-150
                        text-xl shadow-md shadow-brown">
                        Enviar
        </button>
      </div>
      
    </div>

    <app-footer/>
  </div>
</div>