<div class="m-4 p-4 bg-green3 text-green1 rounded-lg shadow-md">
    <app-nav-bar></app-nav-bar>
    <form [formGroup]="this.inquilinoForm" (ngSubmit)="enviar($event)" class="flex flex-col gap-6">
        
        <!-- Header -->
        <div class="text-center">
            <h2 class="text-2xl font-semibold text-green-700">Edit Tenant Profile</h2>
            <p class="text-sm text-gray-600">
                Update your information below to ensure your profile 
                stays up to date. <br>
                <span class="text-magenta1 bg-green3">
                    It is not needed to fullfill all the data below but it helps 
                    to find better companions and rooms.
                </span>
            </p>
        </div>

        <!-- Formulario -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            
            <!-- Age -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Age:</label>
                <input class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" 
                       type="number" 
                       formControlName="age" 
                       placeholder="{{this.tenantProfile.age}}" />
            </div>
            
            <!-- Occupation -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Occupation:</label>
                <input class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" 
                       type="text" 
                       formControlName="occupation" 
                       placeholder="{{this.tenantProfile.occupation}}" />
            </div>
            
            <!-- Gender -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Gender:</label>
                <select class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" formControlName="gender">
                    <option class="bg-green2" *ngFor="let g of this.genders | keyvalue" [value]="g.value">{{ g.value }}</option>
                </select>
            </div>

            <!-- Activity Schedule -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Activity Schedule:</label>
                <select class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" formControlName="activity_schedule">
                    <option class="bg-green2" *ngFor="let g of this.activitySchedule | keyvalue" [value]="g.value">{{ g.value }}</option>
                </select>
            </div>

            <!-- Cleanliness -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Cleanliness Level:</label>
                <select class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" formControlName="cleanliness_level">
                    <option class="bg-green2" *ngFor="let g of this.cleanliness | keyvalue" [value]="g.value">{{ g.value }}</option>
                </select>
            </div>

            <!-- Pets -->
            <div class="flex items-center gap-2">
                <label class="text-sm font-medium">Do you have pets?</label>
                <input class="bg-green2" type="checkbox" formControlName="pets" />
            </div>

            <!-- Smoking -->
            <div class="flex items-center gap-2">
                <label class="text-sm font-medium">Do you smoke?</label>
                <input class="bg-green2" type="checkbox" formControlName="smoker" />
            </div>

            <!-- Visit Frequency -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Visit Frequency:</label>
                <select class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" formControlName="visit_frequency">
                    <option class="bg-green2" *ngFor="let g of this.visitFrequency | keyvalue" [value]="g.value">{{ g.value }}</option>
                </select>
            </div>

            <!-- Common Space Usage -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Common Space Usage:</label>
                <select class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" formControlName="common_space_usage">
                    <option class="bg-green2" *ngFor="let g of this.commonSpaceUsage | keyvalue" [value]="g.value">{{ g.value }}</option>
                </select>
            </div>
            
            <!-- Hobbies -->
            <div class="flex flex-col items-start col-span-1 md:col-span-2">
                <label class="text-sm font-medium">Hobbies:</label>
                <textarea class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" 
                          formControlName="hobbies" 
                          placeholder="{{this.tenantProfile.hobbies}}"></textarea>
            </div>

            <!-- Socializing Frequency -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Socializing Frequency:</label>
                <select class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" formControlName="socializing_frequency">
                    <option class="bg-green2" *ngFor="let g of this.socializingFrequency | keyvalue" [value]="g.value">{{ g.value }}</option>
                </select>
            </div>

            <!-- Living Environment -->
            <div class="flex flex-col items-start">
                <label class="text-sm font-medium">Living Environment:</label>
                <select class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" formControlName="living_environment">
                    <option class="bg-green2" *ngFor="let g of this.livingEnviroment | keyvalue" [value]="g.value">{{ g.value }}</option>
                </select>
            </div>

            <!-- Presentation -->
            <div class="flex flex-col items-start col-span-1 md:col-span-2">
                <label class="text-sm font-medium">Presentation:</label>
                <textarea class="bg-green2 rounded-md border-gray-300 w-full p-2 focus:ring-green-500" 
                          formControlName="presentation" 
                          placeholder="{{this.tenantProfile.presentation}}"></textarea>
            </div>
        </div> 
        <!-- Submit Button -->
        <div class="flex justify-center mt-4">
            <button type="submit" class="bg-magenta1 text-green1 font-bold py-2 px-6 rounded-md border-2 border-magenta1 hover:bg-magenta2 hover:text-green3 transition duration-300 mt-6 m-2">
                Save Profile
            </button>
        </div>
    </form>
    <app-footer></app-footer>
</div>
