<div class="m-4 p-4 bg-green3 text-green1 rounded-md shadow-md">
  <app-nav-bar></app-nav-bar>
  <form 
    [formGroup]="postHouseForm" 
    (ngSubmit)="onSubmit()" 
    class="flex flex-col justify-center items-center gap-6"
  >
    <!-- Título del formulario -->
    <h1 class="text-2xl font-bold text-green1 mb-4">Post a New House</h1>

    <!-- Nombre -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Name:</label>
      <input
        type="text"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="name"
        placeholder="Enter house name"
      />
      <small *ngIf="postHouseForm.get('name')?.invalid && postHouseForm.get('name')?.touched" class="text-red-500">
        Name is required.
      </small>
    </div>

    <!-- Imagen principal -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Main Image:</label>
      <input
        type="file"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        (change)="onFileChange($event, 'image')"
      />
      <small *ngIf="postHouseForm.get('image')?.invalid && postHouseForm.get('image')?.touched" class="text-red-500">
        Image is required.
      </small>
    </div>

    <!-- Descripción -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Description:</label>
      <textarea
        class="rounded-md p-4 h-32 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2 resize-none  text-green3"
        formControlName="desc"
        placeholder="Provide a brief description"
      ></textarea>
      <small *ngIf="postHouseForm.get('desc')?.invalid && postHouseForm.get('desc')?.touched" class="text-red-500">
        Description is required.
      </small>
    </div>

    <!-- Tamaño -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Size (m²):</label>
      <input
        type="number"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="m2"
        placeholder="Enter size in m²"
      />
      <small *ngIf="postHouseForm.get('m2')?.invalid && postHouseForm.get('m2')?.touched" class="text-red-500">
        Size is required.
      </small>
    </div>

    <!-- Tipo de casa -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">House Type:</label>
      <select
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="house_type"
      >
        <option *ngFor="let type of houseTypes | keyvalue" [value]="type.value">
          {{ type.value }}
        </option>
      </select>
      <small *ngIf="postHouseForm.get('house_type')?.invalid && postHouseForm.get('house_type')?.touched" class="text-red-500">
        House type is required.
      </small>
    </div>

    <!-- Ciudad -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">City:</label>
      <input
        type="text"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="ciudad"
        placeholder="Enter city name"
      />
      <small *ngIf="postHouseForm.get('ciudad')?.invalid && postHouseForm.get('ciudad')?.touched" class="text-red-500">
        City is required.
      </small>
    </div>

    <!-- Barrio -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Neighborhood:</label>
      <input
        type="text"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="barrio"
        placeholder="Enter neighborhood name"
      />
      <small *ngIf="postHouseForm.get('barrio')?.invalid && postHouseForm.get('barrio')?.touched" class="text-red-500">
        Neighborhood is required.
      </small>
    </div>

    <!-- Calle -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Street:</label>
      <input
        type="text"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="calle"
        placeholder="Enter street name"
      />
      <small *ngIf="postHouseForm.get('calle')?.invalid && postHouseForm.get('calle')?.touched" class="text-red-500">
        Street is required.
      </small>
    </div>

    <!-- Portal -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Portal:</label>
      <input
        type="number"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="portal"
        placeholder="Enter portal number"
      />
      <small *ngIf="postHouseForm.get('portal')?.invalid && postHouseForm.get('portal')?.touched" class="text-red-500">
        Portal is required.
      </small>
    </div>

    <!-- Precio -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Price:</label>
      <input
        type="number"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="price"
        placeholder="Enter price"
      />
      <small *ngIf="postHouseForm.get('price')?.invalid && postHouseForm.get('price')?.touched" class="text-red-500">
        Price is required.
      </small>
    </div>

    <!-- Número de habitaciones -->
    <div class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <label class="font-semibold text-green1">Number of Rooms:</label>
      <input
        type="number"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        formControlName="rooms"
        placeholder="Enter number of rooms"
      />
    </div>

    <!-- Formularios dinámicos para habitaciones -->
    <div *ngFor="let room of roomsData.controls; let i = index" class="flex flex-col w-full sm:w-3/4 lg:w-1/2">
      <h2 class="text-xl font-bold text-green1 mb-2">Room {{ i + 1 }}</h2>
      <label class="font-semibold text-green1">Room Size (m²):</label>
      <input
        type="number"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        [formControlName]="'m2'"
        placeholder="Enter size in m²"
      />
      <label class="font-semibold text-green1">Room Description:</label>
      <input
        type="text"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2 text-green3"
        [formControlName]="'desc'"
        placeholder="Enter room description"
      />
      <label class="font-semibold text-green1">Room Image:</label>
      <input
        type="file"
        class="rounded-md p-2 border-2 border-green1 focus:outline-none focus:ring-2 focus:ring-green2  text-green3"
        (change)="onRoomImageChange($event, i)"
      />
    </div>

    <!-- Botón de envío -->
    <button
      type="submit"
      class="bg-magenta1 text-green1 font-bold py-2 px-6 rounded-md border-2 border-magenta1 hover:bg-magenta2 hover:text-green3 transition duration-300 mt-6"
    >
      Submit
    </button>
  </form>
  <app-footer></app-footer>
</div>
