<div class="m-4 p-2 bg-green3 text-green1 rounded-md">
  <app-nav-bar></app-nav-bar>
  <form [formGroup]="postHouseForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center text-center">
  
    <!-- Nombre -->
    <div class="flex flex-col items-center justify-center">
      <label>Name:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="text"
        formControlName="name"
        placeholder="Name"
      />
      <div *ngIf="postHouseForm.get('name')?.invalid && postHouseForm.get('name')?.touched">
        <small class="text-red-500">Name is required.</small>
      </div>
    </div>
  
    <!-- Imagen principal -->
    <div class="flex flex-col items-center justify-center">
      <label>Image:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="file"
        (change)="onFileChange($event, 'image')"
      />
      <div *ngIf="postHouseForm.get('image')?.invalid && postHouseForm.get('image')?.touched">
        <small class="text-red-500">Image is required.</small>
      </div>
    </div>
  
    <!-- Descripción -->
    <div class="flex flex-col items-center justify-center">
      <label>Description:</label>
      <textarea
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        formControlName="desc"
        placeholder="Brief description"
      ></textarea>
      <div *ngIf="postHouseForm.get('desc')?.invalid && postHouseForm.get('desc')?.touched">
        <small class="text-red-500">Description is required.</small>
      </div>
    </div>
  
    <!-- Tamaño en metros cuadrados -->
    <div class="flex flex-col items-center justify-center">
      <label>Size (m²):</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="number"
        formControlName="m2"
        placeholder="Total size in m²"
      />
      <div *ngIf="postHouseForm.get('m2')?.invalid && postHouseForm.get('m2')?.touched">
        <small class="text-red-500" *ngIf="postHouseForm.get('m2')?.errors?.['required']">Size is required.</small>
        <small class="text-red-500" *ngIf="postHouseForm.get('m2')?.errors?.['min']">Size must be greater than 0.</small>
      </div>
    </div>
  
    <!-- Tipo de casa -->
    <div class="flex flex-col items-center justify-center">
      <label>House type:</label>
      <select
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        formControlName="house_type"
      >
        <option *ngFor="let type of houseTypes | keyvalue" [value]="type.value">
          {{ type.value }}
        </option>
      </select>
      <div *ngIf="postHouseForm.get('house_type')?.invalid && postHouseForm.get('house_type')?.touched">
        <small class="text-red-500">House type is required.</small>
      </div>
    </div>
  
    <!-- Número de habitaciones -->
    <div class="flex flex-col items-center justify-center">
      <label>Rooms:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="number"
        formControlName="rooms"
        placeholder="Number of rooms"
      />
      <div *ngIf="postHouseForm.get('rooms')?.invalid && postHouseForm.get('rooms')?.touched">
        <small class="text-red-500">Number of rooms is required.</small>
        <small class="text-red-500" *ngIf="postHouseForm.get('rooms')?.errors?.['min']">Rooms must be at least 0.</small>
      </div>
    </div>
  
    <!-- Ciudad -->
    <div class="flex flex-col items-center justify-center">
      <label>City:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="text"
        formControlName="ciudad"
        placeholder="City"
      />
      <div *ngIf="postHouseForm.get('ciudad')?.invalid && postHouseForm.get('ciudad')?.touched">
        <small class="text-red-500">City is required.</small>
      </div>
    </div>
  
    <!-- Barrio -->
    <div class="flex flex-col items-center justify-center">
      <label>Neighborhood:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="text"
        formControlName="barrio"
        placeholder="Neighborhood"
      />
      <div *ngIf="postHouseForm.get('barrio')?.invalid && postHouseForm.get('barrio')?.touched">
        <small class="text-red-500">Neighborhood is required.</small>
      </div>
    </div>
  
    <!-- Calle -->
    <div class="flex flex-col items-center justify-center">
      <label>Street:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="text"
        formControlName="calle"
        placeholder="Street"
      />
      <div *ngIf="postHouseForm.get('calle')?.invalid && postHouseForm.get('calle')?.touched">
        <small class="text-red-500">Street is required.</small>
      </div>
    </div>
  
    <!-- Portal -->
    <div class="flex flex-col items-center justify-center">
      <label>Portal:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="number"
        formControlName="portal"
        placeholder="Portal"
      />
      <div *ngIf="postHouseForm.get('portal')?.invalid && postHouseForm.get('portal')?.touched">
        <small class="text-red-500">Portal is required.</small>
      </div>
    </div>
  
    <!-- Dirección -->
    <div class="flex flex-col items-center justify-center">
      <label>Address:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="text"
        formControlName="direccion"
        placeholder="Address"
      />
      <div *ngIf="postHouseForm.get('direccion')?.invalid && postHouseForm.get('direccion')?.touched">
        <small class="text-red-500">Address is required.</small>
      </div>
    </div>
  
    <!-- Precio -->
    <div class="flex flex-col items-center justify-center">
      <label>Price:</label>
      <input
        class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
        type="number"
        formControlName="price"
        placeholder="Price"
      />
      <div *ngIf="postHouseForm.get('price')?.invalid && postHouseForm.get('price')?.touched">
        <small class="text-red-500">Price is required.</small>
      </div>
    </div>
  
    <!-- Detalles de las habitaciones -->
    <div formArrayName="rooms_data">
      <div class="flex flex-col justify-center items-center align-middle">
        <div class="border-2 border-green2 w-1/2 m-2 rounded-md" *ngFor="let room of roomsData.controls; let i = index" [formGroupName]="i">
          <div class="flex flex-col items-center justify-center">
            <label>Room {{ i + 1 }} Size (m²):</label>
            <input
              class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
              type="number"
              formControlName="m2"
            />
            <div *ngIf="room.get('m2')?.invalid && room.get('m2')?.touched">
              <small class="text-red-500">Size is required.</small>
            </div>
          </div>
  
          <div class="flex flex-col items-center justify-center">
            <label>Room {{ i + 1 }} Description:</label>
            <input
              class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
              type="text"
              formControlName="desc"
            />
            <div *ngIf="room.get('desc')?.invalid && room.get('desc')?.touched">
              <small class="text-red-500">Description is required.</small>
            </div>
          </div>
  
          <div class="flex flex-col items-center justify-center">
            <label>Room {{ i + 1 }} Image:</label>
            <input
              class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
              type="file"
              (change)="onRoomImageChange($event, i)"
            />
          </div>
  
          <div class="flex flex-col items-center justify-center">
            <label>Room {{ i + 1 }} Price:</label>
            <input
              class="text-green3 text-center rounded-md m-2 w-1/3 md:w-1/6"
              type="number"
              formControlName="price"
            />
            <div *ngIf="room.get('price')?.invalid && room.get('price')?.touched">
              <small class="text-red-500">Price is required.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Botón de envío -->
    <div class="flex flex-col items-center justify-center m-4">
      <button
        type="submit"
        class="bg-magenta1 text-green1 rounded-md border-magenta1 border-2 hover:text-green3 hover:bg-magenta2 duration-150 text-xl shadow-md shadow-brown"
      >
        Confirm
      </button>
    </div>
  </form>
  <app-footer></app-footer>
</div>
