<div class="absolute w-full">
    <div class="relative w-full p-2 bg-green3 text-green1 rounded-md">
        <app-nav-bar/>
        <div class="flex flex-col justify-center items-center">
            <figure>
                <img src="/imgs/logo.png" height="auto" width="auto"
                class="rounded-md shadow-md mt-2 mb-2 shadow-green4"/>
            </figure>
            
            <div class="flex justify-center flex-col">
                <!--What we offer-->
                <h1 class="text-center text-2xl text-green4 bg-green1 
                rounded-md p-2 shadow-md shadow-green4 mt-2">
                What we offer?
                </h1>
                <div class="grid grid-cols-2 text-center [&>*]:p-2">
                    <h2 class="text-base bg-green2 text-green1 rounded-md text-center">
                        A new way of finding room mates
                    </h2>
                    <h2 class="text-base bg-green2 text-green1 rounded-md text-center">
                        You can admin your real state properties easily with our solution
                    </h2>
                </div>
            </div>
            <!--Opinions bla bla-->
            <div class="rounded-md m-2 bg-green1 justify-center items-center align-middle p-4">
                <h1 class="text-xl bg-green4 text-magenta2 rounded-md m-2 p-2">
                    Real users that have beed helped by Find your room app
                </h1>
                <div class="grid grid-cols-2 md:flex md:flex-row [&>*]:m-2 items-center justify-center align-middle place-items-center">
                    
                    <div class="min-h-44 w-40 bg-green2 rounded-md mt-2 flex items-center align-middle justify-center flex-col shadow-md shadow-green4">
                        <h2 class="m-4 text-center align-middle text-lg min-h-36">
                            "It was posible to finish my studies abroad."
                        </h2>
                        <!--stars-->
                        <div></div>
                        <h2 class="text-center text-base text-green1 bg-green3 rounded-md pl-2 pr-2 p-1">
                            Daniel Gonzalez
                        </h2>
                    </div>
                    <div class="min-h-44 w-40 bg-green2 rounded-md mt-2 flex items-center align-middle justify-center flex-col shadow-md shadow-green4">
                        <h2 class="m-4 text-center align-middle text-lg min-h-36">
                            "It helped me to find a room in Amsterdam."
                        </h2>
                        <!--stars-->
                        <div></div>
                        <h2 class="text-center text-base text-green1 bg-green3 rounded-md pl-2 pr-2 p-1">
                            Dimitry Makinov
                        </h2>
                    </div>
                    <div class="min-h-44 w-40 bg-green2 rounded-md mt-2 flex items-center align-middle justify-center flex-col shadow-md shadow-green4">
                        <h2 class="m-4 text-center align-middle text-lg min-h-36">
                            "I made new friends with FindmyRoom"
                        </h2>
                        <!--stars-->
                        <div></div>
                        <h2 class="text-center text-base text-green1 bg-green3 rounded-md pl-2 pr-2 p-1">
                            Janna Serenova
                        </h2>
                    </div>
                    <div class="min-h-44 w-40 bg-green2 rounded-md mt-2 flex items-center align-middle justify-center flex-col shadow-md shadow-green4">
                        <h2 class="m-4 text-center align-middle text-lg min-h-36">
                            "Now I manage my properties easily."
                        </h2>
                        <!--stars-->
                        <div></div>
                        <h2 class="text-center text-base text-green1 bg-green3 rounded-md pl-2 pr-2 p-1">
                            Jhon Graton
                        </h2>
                    </div>
                </div>
            </div>
            <!--Use cases-->
            <!--some random marketing-->
           

        </div>
        <app-footer/>
    </div>
</div>
