<div class="absolute w-full">
    <div class="relative w-full p-2 bg-green3 text-green1 rounded-md">
        <app-nav-bar/>
        <div class="flex flex-col justify-center items-center">
            <figure>
                <img src="/imgs/logo.png" height="auto" width="auto"
                class="rounded-md shadow-md mt-2 mb-2 shadow-green4"/>
            </figure>
            

            <ul class="flex flex-col m-2">
                <li>Click on Social and create a tenant profile to find new colleagues</li>
                <li>Click on housing and start searching for housing</li>
                <li>It is posible to post new houses in houses, post a new house</li>
                <li>Enjoy the new way of meeting people</li>
            </ul>

        </div>
        <app-footer/>
    </div>
</div>
