
<div class="absolute w-full flex justify-center align-middle">
    <div class="mt-28 relative w-full p-2 bg-green3  text-green3 rounded-md md:w-1/2">
        <h1 class="text-green1 text-center text-xl m-2">
            If you need to change your password enter your 
            email and a mail is going to arrive to you to change it
        </h1>
        <form 
            class="m-4 text-center flex flex-col"
            [formGroup]="requestPasswordForm" 
            (ngSubmit)="resetPassword($event)">
                <input 
                    formControlName="new_password" 
                    class="rounded-md text-center m-2" 
                    placeholder="New Password" 
                    type="password"
                />
                <input
                    formControlName="confirm_password"
                    class="rounded-md text-center m-2" 
                    placeholder="Confirm Password" 
                    type="password"
                />


                <div class="flex justify-center">
                    <button type="submit" class="mt-2 w-1/2 bg-magenta1 text-green1 
                    rounded-md border-magenta1 border-2 
                    hover:text-green3 hover:bg-magenta2 duration-150
                    text-xl shadow-md shadow-brown">Reset Password</button>
                </div>

        </form>
    </div>  
</div>