<div class="absolute w-full">
    <div class="relative w-full p-2 bg-green3 text-green1 rounded-md">
        <app-nav-bar/>
        <div class="">
        <!--Matches-->        
        <div>
           @if(this.matches.length >= 1){
                <div>
                    <div class="flex flex-row justify-center">
                        <h1 class="text-2xl text-center rounded-md border-2 border-green4 m-2 shadow-sm shadow-green4 w-1/2">
                            Matches: 
                        </h1>
                    </div>
                @for (match of this.matches; track match) {
                    <div>
                        <details class="dropdown     flex flex-col justify-center content-center">
                            <summary class="hover:text-green2 md:text-xl text-center">
                                User:{{match.fkTenant.username}}
                            </summary>
                            <div class="menu dropdown-content justify-center">
                                <app-other-tenant-profile [inquilinoProfile]="match.fkTenant"></app-other-tenant-profile>
                                <div class="flex flex-row justify-center gap-4">
                                    <button (click)="acceptMatch(match.id)"  class="p-1 pl-2 pr-2 col-span-2 bg-magenta1 text-green1 
                                    rounded-md border-magenta1 border-2 
                                    hover:text-green3 hover:bg-magenta2 duration-150
                                    text-xl shadow-md shadow-brown">
                                        Accept
                                    </button>
                                    <button (click)="rejectMatch(match.id)"  class="p-1 pl-2 pr-2 col-span-2 bg-magenta1 text-green1 
                                    rounded-md border-magenta1 border-2 
                                    hover:text-green3 hover:bg-magenta2 duration-150
                                    text-xl shadow-md shadow-brown">
                                        Decline
                                    </button>
                                </div>
                            </div>
                        </details>
                    </div>
                }       
                </div>
            }
        </div>
        <!--Friend requests-->
        <div>
        @if(this.friendRequestsRAW.length>=1){
            <div>
                <div class="flex flex-row justify-center">
                    <h1 class="text-2xl text-center rounded-md border-2 border-green4 m-2 shadow-sm shadow-green4 w-1/2">
                        Friend Requests: 
                    </h1>
                </div>
                @for (request of this.friendRequestsRAW; track request) {
                    <div>
                        <details class="dropdown flex flex-col justify-center content-center">
                            <summary class="hover:text-green2 md:text-xl text-center">
                                User:{{request.sender.username}}
                            </summary>
                            <div class="menu dropdown-content justify-centerb">
                                <app-other-tenant-profile [inquilinoProfile]="request.sender"></app-other-tenant-profile>
                                <div class="flex flex-row justify-center">
                                    <button (click)="acceptFriendRequest(request.id)"  class="p-1 pl-2 pr-2 col-span-2 bg-magenta1 text-green1 
                                    rounded-md border-magenta1 border-2 
                                    hover:text-green3 hover:bg-magenta2 duration-150
                                    text-xl shadow-md shadow-brown">
                                        Accept
                                    </button>
                                    <button (click)="rejectFriendRequest(request.id)"  class="p-1 pl-2 pr-2 col-span-2 bg-magenta1 text-green1 
                                    rounded-md border-magenta1 border-2 
                                    hover:text-green3 hover:bg-magenta2 duration-150
                                    text-xl shadow-md shadow-brown">
                                    Decline
                                </button>
                            </div>
                        </div>
                    </details>
                </div>
            }
            </div>
        }
        </div>
        <!-- friends-->
        <div>
        @if(this.friends.length>=1){
            <div>
                <div class="flex flex-row justify-center">
                    <h1 class="text-2xl text-center rounded-md border-2 border-green4 m-2 shadow-sm shadow-green4 w-1/2">Friends: </h1>
                </div>
                @for (friend of this.friends; track friend) {
                        <details class="dropdown flex flex-col justify-center content-center">
                            <summary class="hover:text-green2 md:text-xl text-center">
                                User:{{friend.friend.username}}
                            </summary>
                            <div class="menu dropdown-content justify-centerb">
                                <app-other-tenant-profile [inquilinoProfile]="friend.friend"></app-other-tenant-profile>
                                <div class="flex flex-row justify-center gap-4 m-2">
                                    <button (click)="goToChat(friend.friend.fkUser)"  class=" p-1 pl-2 pr-2 col-span-2 bg-magenta1 text-green1 
                                    rounded-md border-magenta1 border-2 
                                    hover:text-green3 hover:bg-magenta2 duration-150
                                    text-xl shadow-md shadow-brown">Chat</button>
                                    <button (click)="this.deleteFriend(friend.id)"  class="p-1 pl-2 pr-2 col-span-2 bg-magenta1 text-green1 
                                    rounded-md border-magenta1 border-2 
                                    hover:text-green3 hover:bg-magenta2 duration-150
                                    text-xl shadow-md shadow-brown">Delete friend</button>
                                </div>
                            </div>
                        </details>
                    }
                </div>
            }
            </div>
        </div>
              
    </div>
        <app-footer/>
</div>