<div class="m-4 p-2 bg-green3 text-green1 rounded-md">
    <app-nav-bar></app-nav-bar>
    <div>
        <h1 class="text-2xl text-center">Admin Panel</h1>
        <div *ngFor="let house of this.houses" class="text-center flex flex-col p-2">
            <div class="grid grid-cols-3 lg:flex lg:flex-row border-green2 border-2 rounded-md m-1 p-2 gap-4 justify-center">
            <div>{{house.name}}</div>
            <div>{{house.desc}}</div>
            <div>{{house.direccion}}</div>
            <div>{{house.house_type}}</div>
            <div>{{house.m2}} m2</div>
            <div>Price: {{house.price}}</div>
            <div><h1 class="text-xl"> Rooms: {{house.rooms}}</h1></div>
                 <!-- update and remove actions-->
                 <div class="flex flex-row justify-center gap-2">   
                    <button (click)="goToUpdateHouse(house)">Update</button>
                    <button (click)="goToDeleteHouse(house)">Delete</button>
                </div>
            <div>
                <button (click)="goToDetailView(house)">View House Details</button>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="flex flex-col w-5/6 md:w-3/4">
                <div *ngFor="let room of house.rooms_data" class="flex flex-row border-2 border-green2 rounded-md m-1 gap-4 p-2 text-center justify-center align-middle items-center">
                    <p>{{ room.desc }}</p>
                    <p>{{room.m2}}m2</p>
                    <p>Price: {{ room.price }}</p>
                    <button (click)="goToUpdateRoom(room)">Update Room</button>
                </div>
            </div>
        </div>
    </div>
        
    </div>
    <app-footer></app-footer>

    
</div>

